# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (if using Alembic, you can allow these if needed)
alembic.ini
alembic/
